<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="objectRoot" type="boss.cashbook.model.ObjectRootBean"/>
		<typeAlias alias="expense" type="boss.cashbook.model.ExpenseBean"/>
		<typeAlias alias="asset" type="boss.cashbook.model.AssetBean"/>
		<typeAlias alias="item" type="boss.cashbook.model.ItemBean"/>
		<typeAlias alias="itemAuth" type="boss.cashbook.model.ItemAuthBean"/>
		<typeAlias alias="trade" type="boss.cashbook.model.TradeBean"/>
		<typeAlias alias="card" type="boss.cashbook.model.CardBean"/>
		<typeAlias alias="cardCorp" type="boss.cashbook.model.CardCorpBean"/>
		<typeAlias alias="loan" type="boss.cashbook.model.LoanBean"/>
		<typeAlias alias="bankCorp" type="boss.cashbook.model.BankCorpBean"/>
		<typeAlias alias="expenseMonthSum" type="boss.cashbook.model.ExpenseMonthSumBean"/>
		<typeAlias alias="capitalCorp" type="boss.cashbook.model.CapitalCorpBean"/>
		<typeAlias alias="incomeBoard" type="boss.income.bean.IncomeBean" />
		<typeAlias alias="incomeOption" type="boss.income.bean.IncomeOptionBean" />
		<typeAlias alias="budget" type="boss.com.vs.model.BudgetBean"/>
		<typeAlias alias="user" type="boss.com.vs.model.User"/>
		<typeAlias alias="User_Bean" type="boss.user.model.User_Bean" /> 
		<typeAlias alias="Board_Bean" type="boss.board.model.Board_Bean" /> 
		
		 
	</typeAliases>
	<mappers>
		<mapper resource="boss/cashbook/dao/object_root.xml"/>
		<mapper resource="boss/cashbook/dao/expense.xml"/>
		<mapper resource="boss/cashbook/dao/asset.xml"/>
		<mapper resource="boss/cashbook/dao/item.xml"/>
		<mapper resource="boss/cashbook/dao/item_auth.xml"/>
		<mapper resource="boss/cashbook/dao/trade.xml"/>
		<mapper resource="boss/cashbook/dao/card.xml"/>
		<mapper resource="boss/cashbook/dao/card_corp.xml"/>
		<mapper resource="boss/cashbook/dao/loan.xml"/>
		<mapper resource="boss/cashbook/dao/bank_corp.xml"/>
		<mapper resource="boss/cashbook/dao/card_corp.xml"/>
		<mapper resource="boss/cashbook/dao/expense_month_sum.xml"/>
		<mapper resource="boss/cashbook/dao/capital_corp.xml"/>
		<mapper resource="boss/income/dao/income.xml" />
		<mapper resource="boss/income/dao/income_code.xml" />
		<mapper resource="boss/com/vs/dao/budget.xml"/>
 		<mapper resource="boss/com/vs/dao/user.xml"/> 
 		<mapper resource="boss/user/dao/loginCheck.xml" /> 
		<mapper resource="boss/user/dao/userJoin.xml" /> 
		<mapper resource="boss/user/dao/userDelete.xml" /> 
		<mapper resource="boss/user/dao/userModify_view.xml" /> 
		<mapper resource="boss/user/dao/userModify.xml" /> 
		<mapper resource="boss/board/dao/boardList.xml" /> 
		<mapper resource="boss/board/dao/boardWrite.xml" /> 
		<mapper resource="boss/board/dao/noticeWrite.xml" /> 
		<mapper resource="boss/board/dao/boardContent.xml" /> 
		<mapper resource="boss/board/dao/boardCnt.xml" /> 
		<mapper resource="boss/board/dao/boardDelete.xml" /> 
		<mapper resource="boss/board/dao/boardModify.xml" /> 
		<mapper resource="boss/board/dao/board_reply_view.xml" /> 
		<mapper resource="boss/board/dao/boardReply.xml" /> 
 		
	</mappers>
</configuration>