<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boss.user.model.User_Bean"> 

	<!--로그인 체크  -->
	 <select id="loginCheck" parameterType="java.util.Map" resultType="User_Bean">
		select * from object_root where root_id=#{root_Id} and root_pwd=#{root_Pwd}
	</select>
	
	<!--탈퇴  --> 	
	 <delete id="userDelete" parameterType="java.util.Map">
		delete from object_root where root_Id = #{root_Id}		
	</delete>
	
	<!--가입  --> 	
	 <insert id="userJoin" parameterType="java.util.Map">
		insert into object_root 
		(root_idn, root_name, root_id, root_pwd, root_email, root_grade) values
		(object_root_seq.nextVal, #{root_Name},#{root_Id},#{root_Pwd},#{root_Email}, 0)		
	</insert>
	
	<!--정보 수정 뷰  -->
	 <select id="userModify_view" parameterType="String" resultType="User_Bean">
		select * from object_root where root_id = #{root_Id}		
	</select>
	
	<!--정보 수정  -->
	 <update id="userModify" parameterType="java.util.Map">
		update object_root set root_Pwd = #{root_Pwd}, root_Email=#{root_Email}, root_Job=#{root_Job}, root_Address=#{root_Address} where root_Id = #{root_Id}			
	</update>
	
 
</mapper>


	
